@font-face {
  font-family: 'Sketch';
  src: local('HelloEtchASketch.ttf'), url('HelloEtchASketch.ttf') format('truetype');
}

body {
  background-color: #f2f2f2;
}

h1 {
  font-family: 'Sketch';
  font-size: 80px;
  font-weight: 400;
}

.images {
  .concept-name { font-size: 48px; }

  .image-block {
    display: inline-block;

    img {
      display: block;
      width: 200px;
    }
    span {
      font-size: 18px;
      text-align: left;
    }
  }
}

.results-card {
  width: 800px;
  margin: 0 auto;
  background-color: #fff;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 4px 24px rgba( 0, 0, 0, 0.15 );

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  .results-image, .results { flex-grow: 1; }

  .results-image {
    width: 50%;
    img { width: 100%; }
  }

  .results {
    padding: 40px;
    .result-name { font-weight: 600; }
  }
}

.color-palette {
  max-width: 800px;
  margin: 0 auto;
  
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  .color-tile {
    padding: 20px;
    margin: 20px 10px;
    border-radius: 5px;
    text-align: center;
    font-weight: 600;
    color: #fff;

    flex-grow: 1;
  }
}

#instafeed {
  img { width: 200px; }
}