@font-face {
  font-family: 'Sketch';
  src: local('HelloEtchASketch.ttf'), url('HelloEtchASketch.ttf') format('truetype');
}

h1 {
  font-family: 'Sketch';
  font-size: 80px;
  font-weight: 400;
}

.images {
  .concept-name { font-size: 48px; }

  .image-block {
    display: inline-block;

    img {
      display: block;
      width: 200px;
    }
    span {
      font-size: 18px;
      text-align: left;
    }
  }
}

.results-card {
  width: 1280px;
  padding: 20px;
  border: 1px solid #eee;
  box-shadow: 0 0 8px rgba( 0, 0, 0, 0.25 );

  .results-image {
    width: 50%;
    display: inline-block;
    img { width: 100%; }
  }

  .results {
    width: 50%;
    display: inline-block;
  }
}

#instafeed {
  img { width: 200px; }
}