// Global
@font-face {
  font-family: 'Roboto', sans-serif;
  font-family: 'Abril Fatface', cursive;
}

body {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  background-color: #f2f2f2;
  color: #333;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Abril Fatface', cursive;
  font-weight: 400;
}

h1 { font-size: 80px; }

// Single class definitions
.text-center { text-align: center; }

// Element styles

.input {
  label, form { display: inline-block; }
}

.results-card {
  width: 800px;
  margin: 0 auto;
  background-color: #fff;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 4px 24px rgba( 0, 0, 0, 0.15 );

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  .results-image, .results { flex-grow: 1; }

  .results-image {
    width: 50%;
    img { width: 100%; }
  }

  .results {
    padding: 40px;
    .result-name { font-weight: 600; }
  }
}

.color-palette {
  max-width: 800px;
  margin: 0 auto;
  
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  .color-tile {
    padding: 20px;
    margin: 20px 10px;
    border-radius: 3px;
    text-align: center;
    font-weight: 600;
    color: #fff;

    flex-grow: 1;
  }
}

// Deprecated
.images {
  .concept-name { font-size: 48px; }

  .image-block {
    display: inline-block;

    img {
      display: block;
      width: 200px;
    }
    span {
      font-size: 18px;
      text-align: left;
    }
  }
}

#instafeed {
  img { width: 200px; }
}